In [27]:
import pycountry

In [28]:
import pandas as pd

In [29]:
import matplotlib.pyplot as plt

In [30]:
import numpy as np

In [31]:
import geopandas as gpd

In [32]:
import seaborn as sns

In [33]:
# import folium

In [34]:
import pandas as pd  
  
# assign data of lists.  
data = {'Country':['Netherlands','South Korea','New Zealand','Sweden','U.A.E','United Kingdom','Switzerland','Denmark','Canada','Spain','Germany','Hong Kong','Israel','Saudi Arabia','Australia','Belgium','France','Ireland','Singapore','Taiwan','Japan','Australia','Malaysia','Russia','United States','Argentina','Poland','Italy','Greece','Romania','Portugal','Turkey','Brazil','Vietnam','Mexico','Morocco','Thailand','Colombia','Philippines','Indonesia','South Africa','Egypt','India','Nigeria','Kenya'],'Percentage_View_Rate':[95,94,93.9,93.8,93.4,92.2,92,92,91.9,91.6,91.5,91.4,91.3,90.8,89.3,88.6,88.3,88.1,88,87.3,86.7,86.1,84.1,80.2,79.4,78.1,77,74.9,74.6,73.9,73.7,72.9,70.6,68.4,68,66.6,63.3,63.1,61,55,53.3,53.3,37,26.4,23.2]}  
  
# Create DataFrame  
df = pd.DataFrame(data)

In [35]:
print(df)

           Country  Percentage_View_Rate
0      Netherlands                  95.0
1      South Korea                  94.0
2      New Zealand                  93.9
3           Sweden                  93.8
4            U.A.E                  93.4
5   United Kingdom                  92.2
6      Switzerland                  92.0
7          Denmark                  92.0
8           Canada                  91.9
9            Spain                  91.6
10         Germany                  91.5
11       Hong Kong                  91.4
12          Israel                  91.3
13    Saudi Arabia                  90.8
14       Australia                  89.3
15         Belgium                  88.6
16          France                  88.3
17         Ireland                  88.1
18       Singapore                  88.0
19          Taiwan                  87.3
20           Japan                  86.7
21       Australia                  86.1
22        Malaysia                  84.1
23          Russia                  80.2
24   United States                  79.4
25       Argentina                  78.1
26          Poland                  77.0
27           Italy                  74.9
28          Greece                  74.6
29         Romania                  73.9
30        Portugal                  73.7
31          Turkey                  72.9
32          Brazil                  70.6
33         Vietnam                  68.4
34          Mexico                  68.0
35         Morocco                  66.6
36        Thailand                  63.3
37        Colombia                  63.1
38     Philippines                  61.0
39       Indonesia                  55.0
40    South Africa                  53.3
41           Egypt                  53.3
42           India                  37.0
43         Nigeria                  26.4
44           Kenya                  23.2

In [36]:
df.head(8)

          Country  Percentage_View_Rate
0     Netherlands                  95.0
1     South Korea                  94.0
2     New Zealand                  93.9
3          Sweden                  93.8
4           U.A.E                  93.4
5  United Kingdom                  92.2
6     Switzerland                  92.0
7         Denmark                  92.0

In [37]:
df.rename(columns={'Percentage_View_Rate':'Percentage_Rate'},inplace=True)

In [38]:
print(df)

           Country  Percentage_Rate
0      Netherlands             95.0
1      South Korea             94.0
2      New Zealand             93.9
3           Sweden             93.8
4            U.A.E             93.4
5   United Kingdom             92.2
6      Switzerland             92.0
7          Denmark             92.0
8           Canada             91.9
9            Spain             91.6
10         Germany             91.5
11       Hong Kong             91.4
12          Israel             91.3
13    Saudi Arabia             90.8
14       Australia             89.3
15         Belgium             88.6
16          France             88.3
17         Ireland             88.1
18       Singapore             88.0
19          Taiwan             87.3
20           Japan             86.7
21       Australia             86.1
22        Malaysia             84.1
23          Russia             80.2
24   United States             79.4
25       Argentina             78.1
26          Poland             77.0
27           Italy             74.9
28          Greece             74.6
29         Romania             73.9
30        Portugal             73.7
31          Turkey             72.9
32          Brazil             70.6
33         Vietnam             68.4
34          Mexico             68.0
35         Morocco             66.6
36        Thailand             63.3
37        Colombia             63.1
38     Philippines             61.0
39       Indonesia             55.0
40    South Africa             53.3
41           Egypt             53.3
42           India             37.0
43         Nigeria             26.4
44           Kenya             23.2