In [5]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import numpy as np

In [6]:
page = requests.get("https://www.statista.com/statistics/1219589/youtube-penetration-worldwide-by-country/")
soup = BeautifulSoup(page.content, 'html.parser')
tables = soup.find_all("table")

In [168]:
table = tables[0]
tab_data = [[cell.text for cell in row.find_all(["th","td"])]
                        for row in table.find_all("tr")]
df = pd.DataFrame(tab_data)

In [169]:
print(df)

                 0                    1
0   Characteristic  Share of population
1      Netherlands                  95%
2      South Korea                  94%
3      New Zealand                93.9%
4           Sweden                93.8%
5           U.A.E.                93.4%
6   United Kingdom                92.2%
7      Switzerland                  92%
8          Denmark                  92%
9           Canada                91.9%
10           Spain                91.6%
11         Germany                91.5%
12       Hong Kong                91.4%
13          Israel                91.3%
14    Saudi Arabia                90.8%
15       Australia                89.3%
16         Belgium                88.6%
17          France                88.3%
18         Ireland                88.1%
19       Singapore                  88%
20          Taiwan                87.3%
21           Japan                86.7%
22         Austria                86.1%
23        Malaysia                84.1%
24          Russia                80.2%
25   United States                79.4%
26       Argentina                78.1%
27          Poland                  77%
28           Italy                74.9%
29          Greece                74.6%
30         Romania                73.9%
31        Portugal                73.7%
32          Turkey                72.9%
33          Brazil                70.6%
34         Vietnam                68.4%
35          Mexico                  68%
36         Morocco                66.6%
37        Thailand                63.3%
38        Colombia                63.1%
39     Philippines                61.1%
40       Indonesia                  55%
41    South Africa                53.3%
42           Egypt                53.3%
43       Worldwide                37.7%
44           India                  37%
45         Nigeria                26.4%
46           Kenya                23.2%

In [170]:
df = df.iloc[1: , :]

In [171]:
# print(df)

In [172]:
df.columns =['name', 'data_value']

In [173]:
# print(df)

In [174]:
df.reset_index(drop=True, inplace=True)

In [175]:
# print(df)

In [176]:
#Cleaning

In [177]:
df['data_value'] = list(map(lambda x: x[:-1], df['data_value'].values))

In [178]:
df = df[df.name != "Worldwide"]

In [179]:
df.name = df.name.apply(lambda x: 'United Arab Emirates' if 'U.A.E.' in x else x)

In [180]:
df['data_value']=df['data_value'].astype(float).apply(np.floor)

In [181]:
# print(df)

SECOND WORKING

In [182]:
import geopandas as gpd

In [183]:
#read the world_shape_file

In [184]:
world_data=gpd.read_file(r'/home/collins/Documents/APPLICATION/Data/qgis_world_shapefile.shp')

In [185]:
# print(world_data)

In [186]:
world_data=world_data.dropna()

In [187]:
# world_data.columns

In [188]:
world_data=world_data[['NAME','iso_a2','ISO_A3','geometry']]

In [189]:
df.name = df.name.apply(lambda x: 'United States of America' if 'United States' in x else x)

In [190]:
for items in df['name'].tolist():
    world_data_list=world_data['NAME'].tolist()
    if items in world_data_list:
        pass
    else:
        print(items,' is not in the world_data_list')

In [191]:
# df.columns

In [192]:
df = df.rename(columns = {'name': 'NAME','data_value':'Dvalue'}, inplace = False)

In [193]:
# df=pd.merge(df, world_data, left_on='NAME', right_on='NAME')

In [194]:
df = pd.merge(world_data, df, on='NAME', how='outer')

In [195]:
df

,NAME,iso_a2,ISO_A3,geometry,Dvalue
0,Norway,NO,NOR,"MULTIPOLYGON (((3.45729 -54.39007, 3.48666 -54...",NaN
1,Sweden,SE,SWE,"MULTIPOLYGON (((15.70533 56.11640, 15.72690 56...",93.0
2,Germany,DE,DEU,"MULTIPOLYGON (((6.79811 53.60444, 6.72242 53.5...",91.0
3,Netherlands,NL,NLD,"MULTIPOLYGON (((-68.21154 12.22809, -68.19001 ...",95.0
4,Russia,RU,RUS,"MULTIPOLYGON (((47.99708 45.46784, 47.99684 45...",80.0
...,...,...,...,...,...
233,Nepal,NP,NPL,"POLYGON ((85.08187 28.33170, 85.10941 28.29225...",NaN
234,Lesotho,LS,LSO,"POLYGON ((28.35560 -30.17324, 28.29438 -30.242...",NaN
235,Niger,NE,NER,"POLYGON ((6.75388 13.17490, 6.67254 13.32118, ...",NaN
236,W. Sahara,EH,ESH,"POLYGON ((-8.68239 27.66144, -8.68239 27.28542...",NaN
237,Montserrat,MS,MSR,"POLYGON ((-62.15079 16.72036, -62.14053 16.696...",NaN

In [196]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 238 entries, 0 to 237
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      238 non-null    object
 1   iso_a2    238 non-null    object
 2   ISO_A3    238 non-null    object
 3   geometry  238 non-null    geometry
 4   Dvalue    45 non-null     float64
dtypes: float64(1), geometry(1), object(3)
memory usage: 11.2+ KB

In [197]:
# df=df.dropna()

In [198]:
df=df.fillna(0.0)

In [199]:
# df=df.dropna()

In [200]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 238 entries, 0 to 237
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      238 non-null    object
 1   iso_a2    238 non-null    object
 2   ISO_A3    238 non-null    object
 3   geometry  238 non-null    geometry
 4   Dvalue    238 non-null    float64
dtypes: float64(1), geometry(1), object(3)
memory usage: 11.2+ KB

In [201]:
type(df)

geopandas.geodataframe.GeoDataFrame

In [202]:
# df.to_file(r"/home/collins/Documents/APPLICATION/Data/combined1.shp")

In [203]:
df.to_file(r"/home/collins/Documents/APPLICATION/Data/geodata.shp")