In [23]:
import pycountry

In [24]:
import pandas as pd

In [25]:
from bs4 import BeautifulSoup

In [26]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [27]:
page = requests.get("https://www.statista.com/statistics/1219589/youtube-penetration-worldwide-by-country/")
soup = BeautifulSoup(page.content, 'html.parser')
tables = soup.find_all("table")

In [28]:
table = tables[0]
tab_data = [[cell.text for cell in row.find_all(["th","td"])]
                        for row in table.find_all("tr")]
df = pd.DataFrame(tab_data)

In [29]:
print(df)

                 0                    1
0   Characteristic  Share of population
1      Netherlands                  95%
2      South Korea                  94%
3      New Zealand                93.9%
4           Sweden                93.8%
5           U.A.E.                93.4%
6   United Kingdom                92.2%
7      Switzerland                  92%
8          Denmark                  92%
9           Canada                91.9%
10           Spain                91.6%
11         Germany                91.5%
12       Hong Kong                91.4%
13          Israel                91.3%
14    Saudi Arabia                90.8%
15       Australia                89.3%
16         Belgium                88.6%
17          France                88.3%
18         Ireland                88.1%
19       Singapore                  88%
20          Taiwan                87.3%
21           Japan                86.7%
22         Austria                86.1%
23        Malaysia                84.1%
24          Russia                80.2%
25   United States                79.4%
26       Argentina                78.1%
27          Poland                  77%
28           Italy                74.9%
29          Greece                74.6%
30         Romania                73.9%
31        Portugal                73.7%
32          Turkey                72.9%
33          Brazil                70.6%
34         Vietnam                68.4%
35          Mexico                  68%
36         Morocco                66.6%
37        Thailand                63.3%
38        Colombia                63.1%
39     Philippines                61.1%
40       Indonesia                  55%
41    South Africa                53.3%
42           Egypt                53.3%
43       Worldwide                37.7%
44           India                  37%
45         Nigeria                26.4%
46           Kenya                23.2%

In [30]:
df = df.iloc[1: , :]

In [31]:
print(df)

                 0      1
1      Netherlands    95%
2      South Korea    94%
3      New Zealand  93.9%
4           Sweden  93.8%
5           U.A.E.  93.4%
6   United Kingdom  92.2%
7      Switzerland    92%
8          Denmark    92%
9           Canada  91.9%
10           Spain  91.6%
11         Germany  91.5%
12       Hong Kong  91.4%
13          Israel  91.3%
14    Saudi Arabia  90.8%
15       Australia  89.3%
16         Belgium  88.6%
17          France  88.3%
18         Ireland  88.1%
19       Singapore    88%
20          Taiwan  87.3%
21           Japan  86.7%
22         Austria  86.1%
23        Malaysia  84.1%
24          Russia  80.2%
25   United States  79.4%
26       Argentina  78.1%
27          Poland    77%
28           Italy  74.9%
29          Greece  74.6%
30         Romania  73.9%
31        Portugal  73.7%
32          Turkey  72.9%
33          Brazil  70.6%
34         Vietnam  68.4%
35          Mexico    68%
36         Morocco  66.6%
37        Thailand  63.3%
38        Colombia  63.1%
39     Philippines  61.1%
40       Indonesia    55%
41    South Africa  53.3%
42           Egypt  53.3%
43       Worldwide  37.7%
44           India    37%
45         Nigeria  26.4%
46           Kenya  23.2%

In [32]:
df.columns =['name', 'data_value']

In [33]:
print(df)

              name data_value
1      Netherlands        95%
2      South Korea        94%
3      New Zealand      93.9%
4           Sweden      93.8%
5           U.A.E.      93.4%
6   United Kingdom      92.2%
7      Switzerland        92%
8          Denmark        92%
9           Canada      91.9%
10           Spain      91.6%
11         Germany      91.5%
12       Hong Kong      91.4%
13          Israel      91.3%
14    Saudi Arabia      90.8%
15       Australia      89.3%
16         Belgium      88.6%
17          France      88.3%
18         Ireland      88.1%
19       Singapore        88%
20          Taiwan      87.3%
21           Japan      86.7%
22         Austria      86.1%
23        Malaysia      84.1%
24          Russia      80.2%
25   United States      79.4%
26       Argentina      78.1%
27          Poland        77%
28           Italy      74.9%
29          Greece      74.6%
30         Romania      73.9%
31        Portugal      73.7%
32          Turkey      72.9%
33          Brazil      70.6%
34         Vietnam      68.4%
35          Mexico        68%
36         Morocco      66.6%
37        Thailand      63.3%
38        Colombia      63.1%
39     Philippines      61.1%
40       Indonesia        55%
41    South Africa      53.3%
42           Egypt      53.3%
43       Worldwide      37.7%
44           India        37%
45         Nigeria      26.4%
46           Kenya      23.2%

In [34]:
df.reset_index(drop=True, inplace=True)

In [35]:
print(df)

              name data_value
0      Netherlands        95%
1      South Korea        94%
2      New Zealand      93.9%
3           Sweden      93.8%
4           U.A.E.      93.4%
5   United Kingdom      92.2%
6      Switzerland        92%
7          Denmark        92%
8           Canada      91.9%
9            Spain      91.6%
10         Germany      91.5%
11       Hong Kong      91.4%
12          Israel      91.3%
13    Saudi Arabia      90.8%
14       Australia      89.3%
15         Belgium      88.6%
16          France      88.3%
17         Ireland      88.1%
18       Singapore        88%
19          Taiwan      87.3%
20           Japan      86.7%
21         Austria      86.1%
22        Malaysia      84.1%
23          Russia      80.2%
24   United States      79.4%
25       Argentina      78.1%
26          Poland        77%
27           Italy      74.9%
28          Greece      74.6%
29         Romania      73.9%
30        Portugal      73.7%
31          Turkey      72.9%
32          Brazil      70.6%
33         Vietnam      68.4%
34          Mexico        68%
35         Morocco      66.6%
36        Thailand      63.3%
37        Colombia      63.1%
38     Philippines      61.1%
39       Indonesia        55%
40    South Africa      53.3%
41           Egypt      53.3%
42       Worldwide      37.7%
43           India        37%
44         Nigeria      26.4%
45           Kenya      23.2%

In [36]:
#Cleaning

In [37]:
df['data_value'] = list(map(lambda x: x[:-1], df['data_value'].values))

In [38]:
df = df[df.name != "Worldwide"]

In [39]:
df.name = df.name.apply(lambda x: 'United Arab Emirates' if 'U.A.E.' in x else x)

In [40]:
print(df)

                    name data_value
0            Netherlands         95
1            South Korea         94
2            New Zealand       93.9
3                 Sweden       93.8
4   United Arab Emirates       93.4
5         United Kingdom       92.2
6            Switzerland         92
7                Denmark         92
8                 Canada       91.9
9                  Spain       91.6
10               Germany       91.5
11             Hong Kong       91.4
12                Israel       91.3
13          Saudi Arabia       90.8
14             Australia       89.3
15               Belgium       88.6
16                France       88.3
17               Ireland       88.1
18             Singapore         88
19                Taiwan       87.3
20                 Japan       86.7
21               Austria       86.1
22              Malaysia       84.1
23                Russia       80.2
24         United States       79.4
25             Argentina       78.1
26                Poland         77
27                 Italy       74.9
28                Greece       74.6
29               Romania       73.9
30              Portugal       73.7
31                Turkey       72.9
32                Brazil       70.6
33               Vietnam       68.4
34                Mexico         68
35               Morocco       66.6
36              Thailand       63.3
37              Colombia       63.1
38           Philippines       61.1
39             Indonesia         55
40          South Africa       53.3
41                 Egypt       53.3
43                 India         37
44               Nigeria       26.4
45                 Kenya       23.2

In [41]:
data=pd.read_csv('Data/data.csv', index_col=False)

In [42]:
data.reset_index(drop=True, inplace=True)

In [43]:
print(data)

                       name  id  data
0               Afghanistan  AF   NaN
1                    Angola  AO   NaN
2                   Albania  AL   NaN
3      United Arab Emirates  AE   NaN
4                 Argentina  AR   NaN
..                      ...  ..   ...
209        Mayotte (France)  YT   NaN
210     Martinique (France)  MQ   NaN
211     Guadeloupe (France)  GP   NaN
212    Curaco (Netherlands)  CW   NaN
213  Canary Islands (Spain)  IC   NaN

[214 rows x 3 columns]

In [44]:
data.drop('data',
  axis='columns', inplace=True)

In [45]:
print(data.head(5))

                   name  id
0           Afghanistan  AF
1                Angola  AO
2               Albania  AL
3  United Arab Emirates  AE
4             Argentina  AR

In [48]:
df_merge_col = pd.merge(df, data, left_on='name', right_on='name')

In [49]:
print(df_merge_col)

                    name data_value  id
0            Netherlands         95  NL
1            New Zealand       93.9  NZ
2                 Sweden       93.8  SE
3   United Arab Emirates       93.4  AE
4         United Kingdom       92.2  GB
5            Switzerland         92  CH
6                Denmark         92  DK
7                 Canada       91.9  CA
8                  Spain       91.6  ES
9                Germany       91.5  DE
10             Hong Kong       91.4  HK
11                Israel       91.3  IL
12          Saudi Arabia       90.8  SA
13             Australia       89.3  AU
14               Belgium       88.6  BE
15                France       88.3  GF
16                France       88.3  FR
17               Ireland       88.1  IE
18             Singapore         88  SG
19                Taiwan       87.3  TW
20                 Japan       86.7  JP
21               Austria       86.1  AT
22              Malaysia       84.1  MY
23                Russia       80.2  RU
24         United States       79.4  US
25             Argentina       78.1  AR
26                Poland         77  PL
27                 Italy       74.9  IT
28                Greece       74.6  GR
29               Romania       73.9  RO
30              Portugal       73.7  PT
31                Turkey       72.9  TR
32                Brazil       70.6  BR
33               Vietnam       68.4  VN
34                Mexico         68  MX
35               Morocco       66.6  MA
36              Thailand       63.3  TH
37              Colombia       63.1  CO
38           Philippines       61.1  PH
39             Indonesia         55  ID
40          South Africa       53.3  ZA
41                 Egypt       53.3  EG
42                 India         37  IN
43               Nigeria       26.4  NG
44                 Kenya       23.2  KE

In [50]:
df_outer = pd.merge(data, df, on='name', how='outer')

In [51]:
print(df_outer)

                       name   id data_value
0               Afghanistan   AF        NaN
1                    Angola   AO        NaN
2                   Albania   AL        NaN
3      United Arab Emirates   AE       93.4
4                 Argentina   AR       78.1
..                      ...  ...        ...
210     Martinique (France)   MQ        NaN
211     Guadeloupe (France)   GP        NaN
212    Curaco (Netherlands)   CW        NaN
213  Canary Islands (Spain)   IC        NaN
214             South Korea  NaN         94

[215 rows x 3 columns]

In [52]:
df_no_null=df_outer.fillna(0)

In [53]:
print(df_no_null)

                       name  id data_value
0               Afghanistan  AF          0
1                    Angola  AO          0
2                   Albania  AL          0
3      United Arab Emirates  AE       93.4
4                 Argentina  AR       78.1
..                      ...  ..        ...
210     Martinique (France)  MQ          0
211     Guadeloupe (France)  GP          0
212    Curaco (Netherlands)  CW          0
213  Canary Islands (Spain)  IC          0
214             South Korea   0         94

[215 rows x 3 columns]

In [57]:
df_no_null.to_csv('Data/manipulated.csv', index=False)